h1{
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: blue; 
    font-weight: bolder;
}


body{
    background-image: url("pen.jpg");
    background-position: top left ;
}

#nav{
   
    box-align:center;
    font-family: 'Open Sans', arial;
}

#nav li{

	float:left;
    position:relative;
    list-style:none; 
    width:190px;
    text-align: left;
}
#nav > li > a{
    background: blue;
}
#nav  a{
    color: yellow;
    text-decoration:none;
    display:block;
    padding:35px;
    
}

#nav ul {
    display: none;
	opacity: 0;;
    padding:0;  
    position:absolute;
}
#nav li:hover > ul{
   display: block;
    opacity: 1;
    position: absolute;
    transition-duration: 500ms;
}

#nav ul a{
	padding:18.5px 65px; 
}


.spis{
   /* background-image: url("trizub.jpg");*/
    font-size: 30px;
    color:white;
   text-align:left;
}
#nav li ul li a{
color: blue;
}
#ZE,#Poroshenko,#ulia,#boy,#gri,#sme,#lia,#vilk,#cos,#tim,#she,#nal,#bog,#sad,#gnap,#mur,#cri,#dob{
    background:rgb(222, 238, 4);  
}
#ZE:hover,
#Poroshenko:hover,#ulia:hover,#boy:hover,#gri:hover,#sme:hover,#lia:hover,#vilk:hover,
#cos:hover,#tim:hover,#she:hover,#nal:hover,#bog:hover,#sad:hover,#gnap:hover,#mur:hover,#cri:hover,#dob:hover{
    background: rgba(222, 238, 4,0.7);  
    transition-duration: 500ms;
}


li  {
    
    color:yellow;
    font-weight: bold;
}
main div {
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    color: red;
    margin-block-start: 10%
}
aside{
    
    margin-left: 10%;
}
footer{
   
    display: inline;
    margin-left:10%; 
    text-align: center;
    color: rgba(51, 7, 209, 0.747);
    font-size:200%;
}
