h1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-align: center;
    color: red;
}
h3{
font-size: 30px;
color:blue; 
font-family: cursive;
}
table{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(58, 4, 206);
}
body{
  background-image: url(images.jpg);
}
